* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 3.8rem;
  color: #626262;
}

main {
  display: flex;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.fundo-simplo {
  width: 92.9rem;
  height: 93.8rem;
}