*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

header{
  background-color: #2b1821;
}

.titulo{
  color: #fff;
  font-weight: 700;
  display: inline;
}