*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

header{
  background-color: #2b1821;
  height: 50rem;
}

.titulo{
  color: #fff;
  display: flexbox;
  width: 50%;
  height: 100%;
}

.titulo h1, .titulo p, .titulo button {
  display: flexbox;
  justify-content: center;
  align-items: center;
}