* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 3.2rem;
}

h1::first-letter {
  font-size: 6.4rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.8rem;
}

p {
  margin-bottom: 0.6rem;
}

a:link, a:visited {
  color: #c44105;
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: double;
  text-decoration-line: underline;
  display: inline-block;
  margin-bottom: 2.4rem;
}

a:hover, a:active {
  color: #0588c4;
}

ul {
  margin-bottom: 2.4rem;
  margin-left: 2.4rem;
}

li {
  color: #035276;
  font-style: italic;
  margin-bottom: 0.6rem;
}

figure {
  margin-bottom: 3.2rem;
}

figcaption {
  font-size: 1.2rem;
  font-style: italic;
  margin-left: 3.2rem;
}

section {
  padding: 2.4rem;
}

hr {
  display: none;
}

.condicoes {
  background-color: #035276;
  color: #fff;
  display: inline-block;
  box-shadow: 0 0 1.6rem 0.4rem hsla(0, 0%, 0%, 0.150);
  padding: 2.4rem 3.2rem;
  border-radius: 2rem;
}

.condicoes .realce-italico, .condicoes .realce-underline {
  color: #78d4ff;
}

.realce-h1 {
  color: #0588c4;
}

.realce-p {
  color: #0588c4;
  font-weight: bold;
}

.realce-italico {
  color: #0588c4;
  font-style: italic;
}

.realce-underline {
  color: #0588c4;
  text-decoration: underline;
}

.whatsapp {
  width: 8.5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}