/* Global */
body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

strong, b {
  font-weight: 600;
}

/* Cabeçalho */
.barra-menu a {
  color: #112E61;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

/* Seção Hero */
.paragrafo-secao-hero {
  font-size: 19px;
}

.btn-secao-hero {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

/* Seção Conteúdos Gratuitos */
.span-secao-conteudos-gratuitos {
  color: #7A40BE;
  font-weight: 600;
}

.h3-secao-conteudos-gratuitos {
  font-size: 23px;
  font-weight: 700;
  /* color: #fff; */
}

.itens-secao-conteudos-gratuitos {
  font-size: 19px;
  text-decoration: none;
  color: #404040;
}

/* Seção Diferenciais */
.paragrafo-secao-diferenciais {
  font-size: 19px;
  /* color: #fff; */
}

.h3-secao-diferenciais {
  font-size: 24px;
  color: #005e88;
  font-weight: 600;
}

.empresas-secao-diferenciais {
  font-size: 35px;
  font-weight: 400;
}

.empresas-secao-diferenciais a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

/* Seção O que falam */
.span-secao-o-que-falam {
  font-weight: 600;
}

.btn-secao-o-que-falam {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  /* color: #fff; */
}

/* Seção Blog da Hashtag */
.paragrafo-postado {
  font-size: 15px;
}

.paragrafo-postado a {
  color: #f7a70c;
  text-decoration: none;
  font-weight: 600;
}

.titulo-post {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #404040;
}

.paragrafo-descricao-post {
  font-size: 17px;
}

/* Seção Como ajudar */
.span-secao-ajuda {
  font-weight: 600;
  /* color: #fff; */
}

.itens-lista-secao-ajuda, .paragrafo-secao-ajuda {
  font-size: 19px;
}

.itens-lista-secao-ajuda a, .paragrafo-secao-ajuda a {
  color: #008ff7;
  font-weight: 600;
}

.paragrafo-secao-ajuda strong, .paragrafo-secao-ajuda b {
  font-weight: bolder;
}

/* Seção Minicurso */
.strong-secao-minicurso {
  font-weight: bolder;
  /* color: #fff; */
}

.label-secao-minicurso {
  font-size: 19px;
  /* color: #fff; */
}

.btn-secao-minicurso {
  font-size: 30px;
  color: #fff;
}

/* Seção Rodapé */
.titulo-secao-rodape {
  font-size: 22px;
  font-weight: 600;
}

.titulo-curso-secao-rodape {
  font-size: 20px;
  font-weight: 500;
}

.assistente-secao-rodape {
  font-size: 18px;
  font-weight: 500;
}

.link-secao-rodape {
  color: #1a77a4;
}

.h2-secao-rodape {
  font-size: 22px;
  font-weight: 600;
}

.label-secao-rodape {
  font-size: 18px;
}

.btn-secao-rodape {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}